<p id="notice"><%= notice %></p>

<h1>Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Wave height</th>
      <th>Wave direction</th>
      <th>Wind direction</th>
      <th>Board</th>
      <th>Tide</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.wave_height %></td>
        <td><%= session.wave_direction %></td>
        <td><%= session.wind_direction %></td>
        <td><%= session.board %></td>
        <td><%= session.tide %></td>
        <td><%= session.body %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
